* {
 background-color: azure;
 padding: 5px;
 margin: 5px;
}

#header-nav {
    color: darkcyan;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

} 

h1 {
    color: darkblue;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.todos {
    color: darkcyan;
    list-style: none;
    text-align: center;
    font-size: 20px;
    width: 500px;
    margin: 50px auto;
    
}

input {
  border-color: darkblue;
  border-style: dotted;

}

.address {
    color: darkblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
}

img {
    max-height: 100px;
    float: right;
}